
.sidenav {
    height: 100%;
    width: 250px; 
    position: fixed; 
    background-color:white; 
    padding-top: 20px; 
  }
  
  .sidenav h2 {
    color: rgba(247, 243, 243, 0.993); 
    text-align: center;
  }
  
  .sidenav ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .sidenav ul li {
    padding: 15px; 
  }
  
  .sidenav ul li a {
    color: black; 
    text-decoration: none; 
    display: block; 
  }
  
  .sidenav ul li a:hover {
    background-color: white; 
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
  }
  .Attendence{
    /* background: #eab6b6; */
    /* color: black; */
    /* border-radius: 10px; */
    /* padding: 10px; */
  }
  /* .active{
    background-color: rgb(235, 235, 221);
    padding: 10px;
    border-radius: 10px;

  } */

  .reports{
    background-color: beige;
    color: black;
    padding: 10px;
    border-radius: 10px;

  }

  .sidenav ul li a{
    text-decoration: none;
  }

  .sidenav ul Link{
    text-decoration: none;
  }

